<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ===================================================== -->
    <!-- BLUETOOTH ANDROID 11 KE BAWAH                         -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.BLUETOOTH" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- ===================================================== -->
    <!-- BLUETOOTH ANDROID 12+                                 -->
    <!-- ===================================================== -->

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- ===================================================== -->
    <!-- APLIKASI                                               -->
    <!-- ===================================================== -->

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon_rr_motor"
        android:label="RR MOTOR NOTA"
        android:roundIcon="@drawable/icon_rr_motor"
        android:supportsRtl="true">

        <!-- ================================================= -->
        <!-- MAIN ACTIVITY                                      -->
        <!-- ================================================= -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
